.App {
  display: flex;
  flex-direction: column;
  background: rgb(128, 128, 128);
}
.person {
  display: flex;
  justify-content: center;
}
.count {
  display: flex;
  justify-content: center;
}

html {
  background: rgba(128, 128, 128, 0.945);
}
